<!doctype html>
<html lang="en">
<!--título de web, metas, dependencias CSS/JS-->
<head th:include="fragments/header :: header (pageName='Compras')">
</head>

<body>
    <div class="wrapper">
        <div th:include="fragments/sidenav :: sidenav" class="sidebar" data-color="purple" data-image="../img/sidebar-1.jpg"></div>

        <div class="main-panel">
            <nav th:include="fragments/navbar :: navbar" class="navbar navbar-transparent navbar-absolute"></nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">                        
                        <div class="col-md-12">
                            <div class="card ordenCompras">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Compras</h4>
                                    <p class="category">Listado de orden de compra</p>
                                </div>
                                <div  id="lista-ordenCompras" class="card-content table-responsive">
                                	<!--botón agregar nuevo-->
                                    <div class="row col-md-12">             
                                        <a id="btn-agregar-ordenCompra" 
                                           class="btn btn-white btn-just-icon btn-round" @click="agregarProducto" 
                                           href="#agregar-ordenCompra"
                                           data-toggle="tooltip" 
                                           title="Agregar orden de compra">
                                              <i class="material-icons">note_add</i>
                                        </a>
                                        <!--búsqueda-->
                                        <div class="navbar-form navbar-right" role="search">
    			                            <!--texto a buscar-->
                                            <div class="form-group  is-empty">
    			                                <input type="text" class="form-control" placeholder="Buscar" v-model="busqueda.valor">
    			                                <span class="material-input"></span>
    			                            </div>
                                            <!--filtro-->
                                            <div class="form-group label-floating">       
                                              <select id="cmb-filtros" class="form-control" v-model="busqueda.filtroSeleccionadoId">
                                                  <option v-for="filtro in busqueda.filtros"  v-bind:value="filtro.id">{{filtro.nombre}}</option>
                                              </select>
                                            </div>
                                            <!--botón-->
    			                            <button @click="buscarProducto" class="btn btn-white btn-round btn-just-icon">
    			                                <i class="material-icons">search</i>
    			                                <div class="ripple-container"></div>
    			                            </button>
    			                        </div>
                                    </div>

                                    <!--lista de ordenCompras en tabla-->
                                    <table class="table lista">
                                        <thead class="text-primary">
                                            <th>Código</th>
                                            <th>Proveedor</th>
                                            <th>Fecha</th>
                                            <th>Total</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </thead>
                                        <tbody>      
                                            <!--vista-->                                   
                                            <tr v-for="ordenCompra in ordenCompras">
                                                <td>{{ordenCompra.descripcion}}</td>
                                                <td>{{ordenCompra.precioVenta}}</td>
                                                <td>{{ordenCompra.precioPack7}}</td>
                                                <td>{{ordenCompra.precioPack7}}</td>
                                                <td class="text-primary">S/. {{ordenCompra.precioPack15}}</td>
                                                <td class="text-primary">{{ordenCompra.estado}}</td>
                                                <td><a @click="editarProducto(ordenCompra)" href="#editar-ordenCompra"><i class="material-icons">border_color</i></a></td>
                                             </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
            <footer class="footer" th:replace="fragments/footer :: footer"></footer> 
        
        </div>
    </div>

    <!--dependencias JS-->
    <div th:replace="fragments/footer_dependencies :: dependencies"></div> 
    <!--<div th:replace="fragments/mantener_ordenCompra :: mantener-ordenCompra"></div> -->

    <!--obtener servicio de ordenCompra
    <script th:src="@{/app/ordenCompraService.js}"></script>-->

    <script type="text/javascript">        
        /*$(document).ready(function() {
                    //modelo
                    var data={
                        ordenCompras:[],
                        busqueda:{
                            valor:'',
                            filtroSeleccionadoId:1,
                            filtros:[
                                {
                                    id:1,
                                    nombre:'código'
                                },
                                {
                                    id:2,
                                    nombre:'nombre'
                                }
                            ]
                        }

                    };


                    //vista-modelo
                    var vm = new Vue({
                        el: "#lista-ordenCompras",
                        data,
                        beforeCreate: function(){
                            ProductoService.get()
                                           .then((ordenCompras)=>{
                                                console.log(ordenCompras);
                                                                                                                                                                                                                            
                                                //obtener los estados de los ordenCompras
                                                EstadoService.get('ordenCompra')
                                                             .then((estadosTabla)=>{
                                                                    for(var i in ordenCompras){
                                                                        for(var ii in estadosTabla){
                                                                            if(estadosTabla[ii].id==ordenCompras[i].estadoId){              
                                                                                ordenCompras[i].estado=estadosTabla[ii].estado.descripcion;
                                                                                break;
                                                                            }
                                                                        }
                                                                    }

                                                                    this.ordenCompras=ordenCompras;
                                                });
                                            
                                                
                                            });

                        }, //métodos
                        methods:{
                            onProductosGetListener:function (ordenCompras){
                                                console.log(ordenCompras);
                                                                                                                                                                                                                            
                                                //obtener los estados de los ordenCompras
                                                EstadoService.get('ordenCompra')
                                                             .then((estadosTabla)=>{
                                                                    for(var i in ordenCompras){
                                                                        for(var ii in estadosTabla){
                                                                            if(estadosTabla[ii].id==ordenCompras[i].estadoId){              
                                                                                ordenCompras[i].estado=estadosTabla[ii].estado.descripcion;
                                                                                break;
                                                                            }
                                                                        }
                                                                    }

                                                                    this.ordenCompras=ordenCompras;
                                                });
                                                
                            },
                            editarProducto: function(ordenCompra){
                                mantenerProducto.show('Editar ordenCompra',ordenCompra,
                                    //cuando se modifique el ordenCompra en el sistema
                                    (resp)=>{
                                            modal('Mantenimiento de ordenCompras',resp.message);

                                    });
                            },
                            agregarProducto: function(){
                                mantenerProducto.show('Agregar ordenCompra',undefined,
                                    //cuando se agregue el ordenCompra en el sistema
                                    (resp,ordenCompra)=>{
                                            modal('Mantenimiento de ordenCompras',resp.message);
                                            if(resp.error==0) this.ordenCompras.push(ordenCompra);
                                    }
                                );
                            },
                            buscarProducto: function(){                                
                                if(this.busqueda.valor.trim().length>0)
                                    ProductoService.buscar(this.busqueda.valor,this.busqueda.filtroSeleccionadoId)
                                                   .then(this.onProductosGetListener);
                                else
                                    ProductoService.buscar('','')
                                                   .then(this.onProductosGetListener);

                            }
                        }
                    });
        });
        */
    </script>

</body>


</html>