<!doctype html>
<html lang="en">
<!--título de web, metas, dependencias CSS/JS-->
<head th:include="fragments/header :: header (pageName='Ventas - Factura')">
</head>

<body>
    <div class="wrapper">
        <div th:include="fragments/sidenav :: sidenav" class="sidebar" data-color="purple" data-image="../img/sidebar-1.jpg"></div>

        <div class="main-panel">
            <nav th:include="fragments/navbar :: navbar" class="navbar navbar-transparent navbar-absolute"></nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">                        
                        <div class="col-md-12">
                            <div class="card ventas">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Ventas</h4>
                                    <p class="category">Listado de facturas</p>
                                </div>
                                <div  id="lista-ventas" class="card-content table-responsive">
                                	<!--botón agregar nuevo-->
                                    <div class="row col-md-12">             
                                        <a id="btn-agregar-venta" 
                                           class="btn btn-white btn-just-icon btn-round"
                                           href="./generar_factura"
                                           data-toggle="tooltip" 
                                           title="Generar factura">
                                              <i class="material-icons">note_add</i>
                                        </a>
                                        <!--búsqueda-->
                                        <div class="navbar-form navbar-right" role="search">
    			                            <!--texto a buscar-->
                                            <div class="form-group  is-empty">
    			                                <input type="text" class="form-control" placeholder="Buscar" v-model="busqueda.valor">
    			                                <span class="material-input"></span>
    			                            </div>
                                            <!--filtro-->
                                            <div class="form-group label-floating">       
                                              <select id="cmb-filtros" class="form-control" v-model="busqueda.filtroSeleccionadoId">
                                                  <option v-for="filtro in busqueda.filtros"  v-bind:value="filtro.id">{{filtro.nombre}}</option>
                                              </select>
                                            </div>
                                            <!--botón-->
    			                            <button @click="buscarVenta" class="btn btn-white btn-round btn-just-icon">
    			                                <i class="material-icons">search</i>
    			                                <div class="ripple-container"></div>
    			                            </button>
    			                        </div>
                                    </div>
                                    <!--lista de ventas en tabla-->
                                    <table class="table lista">
                                        <thead class="text-primary">
                                            <th>Código</th>
                                            <th>Cliente</th>
                                            <th>Total</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </thead>
                                        <tbody>      
                                            <!--vista-->                                   
                                            <tr v-for="venta in ventas">
                                                <td>N°{{(venta.tipo=='facturas'? venta.codigo : venta.id )}}</td>
                                                <td>{{venta.clienteId}}</td>
                                                <td class="text-primary">S/. {{venta.total}}</td>
                                                <td>{{venta.fechaEmision}}</td>
                                                <td>{{venta.estado}}</td>
                                                <td><a @click="editarVenta(venta)" href="#editar-venta"><i class="material-icons">border_color</i></a></td>
                                             </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
            <footer class="footer" th:replace="fragments/footer :: footer"></footer> 
        
        </div>
    </div>

    <!--dependencias JS-->
    <div th:replace="fragments/footer_dependencies :: dependencies (pageType='system')"></div> 
    <!--<div th:replace="fragments/mantener_venta :: mantener-venta"></div> -->

    <!--obtener servicio de venta-->
    <script th:src="@{/app/facturaService.js}"></script>
    <script th:src="@{/app/notaVentaService.js}"></script>

    <script type="text/javascript">        
        $(document).ready(function() {
                    //modelo
                    var data={
                        ventas:[],
                        busqueda:{
                            valor:'',
                            filtroSeleccionadoId:1,
                            filtros:[
                                {
                                    id:1,
                                    nombre:'código'
                                },
                                {
                                    id:2,
                                    nombre:'fecha'
                                }
                            ]
                        }

                    };


                    //vista-modelo
                    var vm = new Vue({
                        el: "#lista-ventas",
                        data,
                        beforeCreate: function(){
                            this.ventas=[];
                            FacturaService.get()
                                           .then((facturas)=>{
                                                console.log(facturas);
                                                                                                                                                                                                                            
                                                //obtener los estados de los ventas
                                                EstadoService.get('factura')
                                                             .then((estadosTabla)=>{
                                                                    for(var i in facturas){                
                                                                        facturas[i].tipo="facturas";                    
                                                                        for(var ii in estadosTabla){
                                                                            if(estadosTabla[ii].id==facturas[i].estadoId){
                                                                                facturas[i].estado=estadosTabla[ii].estado.descripcion;
                                                                                break;
                                                                            }
                                                                        }
                                                                        this.ventas.push(facturas[i]);
                                                                    }
                                                });
                                            
                                                
                                            });

                            NotaVentaService.get()
                                           .then((notaVentas)=>{
                                                console.log(notaVentas);
                                                                                                                                                                                                                            
                                                //obtener los estados de los ventas
                                                EstadoService.get('factura')
                                                             .then((estadosTabla)=>{
                                                                    for(var i in notaVentas){
                                                                        notaVentas[i].tipo="notas-venta";
                                                                        for(var ii in estadosTabla){
                                                                            if(estadosTabla[ii].id==notaVentas[i].estadoId){
                                                                                notaVentas[i].estado=estadosTabla[ii].estado.descripcion;
                                                                                break;
                                                                            }
                                                                        }
                                                                        this.ventas.push(notaVentas[i]);
                                                                    }
                                                });
                                            
                                                
                                            });

                        }, //métodos
                        methods:{
                            onVentasGetListener:function (ventas){
                                                console.log(ventas);
                                                                                                                                                                                                                            
                                                //obtener los estados de los ventas
                                                EstadoService.get('factura')
                                                             .then((estadosTabla)=>{
                                                                    for(var i in ventas){
                                                                        for(var ii in estadosTabla){
                                                                            if(estadosTabla[ii].id==ventas[i].estadoId){              
                                                                                ventas[i].estado=estadosTabla[ii].estado.descripcion;
                                                                                break;
                                                                            }
                                                                        }
                                                                    }

                                                                    this.ventas=ventas;
                                                });
                                                
                            },
                            editarVenta: function(venta){
                                /*mantenerVenta.show('Editar venta',venta,
                                    //cuando se modifique el venta en el sistema
                                    (resp)=>{
                                            modal('Mantenimiento de ventas',resp.message);

                                    });*/
                            },
                            agregarVenta: function(){
                                /*mantenerVenta.show('Agregar venta',undefined,
                                    //cuando se agregue el venta en el sistema
                                    (resp,venta)=>{
                                            modal('Mantenimiento de ventas',resp.message);
                                            if(resp.error==0) this.ventas.push(venta);
                                    }
                                );*/
                            },
                            buscarVenta: function(){                                
                                /*if(this.busqueda.valor.trim().length>0)
                                    VentaService.buscar(this.busqueda.valor,this.busqueda.filtroSeleccionadoId)
                                                   .then(this.onVentasGetListener);
                                else
                                    VentaService.buscar('','')
                                                   .then(this.onVentasGetListener);
                                */
                            }
                        }
                    });
        });
    </script>

</body>


</html>